.c-font {
  font-family: "Lato", sans-serif;
}

.bg-color-l-grey {
  background-color: #e4e4e4;
}

.txt-color-l-grey {
  color: #e4e4e4;
}

.br-color-l-grey {
  border: 1px solid #e4e4e4;
}

.bg-color-d-grey {
  background-color: lightgray;
}

.txt-color-d-grey {
  color: lightgray;
}

.br-color-d-grey {
  border: 1px solid lightgray;
}

.bg-color-green {
  background-color: #03b37e;
}

.txt-color-green {
  color: #03b37e;
}

.br-color-green {
  border: 1px solid #03b37e;
}

.bg-color-light {
  background-color: #f3f3f3;
}

.txt-color-light {
  color: #f3f3f3;
}

.br-color-light {
  border: 1px solid #f3f3f3;
}

.bg-color-danger {
  background-color: #cf3434;
}

.txt-color-danger {
  color: #cf3434;
}

.br-color-danger {
  border: 1px solid #cf3434;
}

*, *::before, *::after {
  margin: 0%;
  padding: 0%;
}

.wraper {
  padding: 20px 20px;
  width: 40%;
  height: 600px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 599px) {
  .wraper {
    padding: 10px 20px;
    width: 80vw;
    height: 85vh;
    border-radius: 10px;
  }
}
@media (max-width: 900px) {
  .wraper {
    padding: 20px 20px;
    width: 90vw;
    height: 85vh;
    border-radius: 10px;
  }
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 599px) {
  .form-style {
    padding: 0px 0px;
    width: auto;
    height: 80vh;
    border-radius: 0px;
  }
}
@media (max-width: 900px) {
  .form-style {
    padding: 0px 0px;
    width: auto;
    height: 80vh;
    border-radius: 0px;
  }
}

.label-style {
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 15px;
  position: relative;
}

.input-style {
  padding: 5px 10px;
  width: 95%;
  height: auto;
  border-radius: 3px;
  margin-top: 10px;
}
@media (max-width: 599px) {
  .input-style {
    padding: 5px 10px;
    width: 80%;
    height: auto;
    border-radius: 3px;
  }
}
@media (max-width: 900px) {
  .input-style {
    padding: 5px 10px;
    width: 90%;
    height: auto;
    border-radius: 3px;
  }
}

#submit {
  padding: 8px 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.671);
  padding: 100px 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.modal-content {
  margin: auto;
  padding: 40px 20px;
  width: 40%;
  height: auto;
  border-radius: 5px;
}
@media (max-width: 599px) {
  .modal-content {
    padding: 40px 20px;
    width: 80vw;
    height: auto;
    border-radius: 5px;
  }
}
@media (max-width: 900px) {
  .modal-content {
    padding: 40px 20px;
    width: 80vw;
    height: auto;
    border-radius: 5px;
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#demo {
  position: absolute;
  top: 70px;
}

#demo2 {
  position: absolute;
  top: 70px;
}

/*# sourceMappingURL=1.css.map */
