.c-font{
    font-family: 'Lato', sans-serif;
}

$colors:(
   "l-grey":rgb(228, 228, 228),
   "d-grey":rgb(211, 211, 211),
   "green":rgb(3, 179, 126),
   "light":rgb(243, 243, 243),
   "danger":rgb(207, 52, 52)
);

@each $colorName , $code in $colors{
    .bg-color-#{ $colorName }{
        background-color: $code;
    }
    .txt-color-#{$colorName}{
        color: $code;
    }
    .br-color-#{$colorName}{
        border:1px solid $code;
    }
}

@mixin display-flex{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:flex-start;
}
@mixin layout-design($padding:0px 0px,$width:auto,$border-r:0px,$height:auto) {
   @if $padding{
        padding:$padding ; 
   }
   @if $width{
        width:$width; 
    }
   @if $height{
       height:$height; 
    }
   @if $border-r{
        border-radius:$border-r; 
    }

}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (max-width: 900px) { @content; }
  }

@mixin demos ($top){
    position: absolute;
    top:$top;
}

