@import "-library";
*,*::before,*::after{
  margin: 0%;
  padding: 0%;
}

.wraper{
  @include child-style(20px 20px,40%,10px,600px);
  margin: 0 auto;
  margin-top:30px;
  @include for-phone-only{
    @include child-style(10px 20px,80vw,10px,85vh);
  }
  @include for-tablet-portrait-up {
    @include child-style(20px 20px,90vw,10px,85vh);
  }  
}

.form-style{
   @include par-style;
   @include for-phone-only{
      @include child-style(0px 0px,auto,0px,80vh);
   }
   @include for-tablet-portrait-up {
      @include child-style(0px 0px,auto,0px,80vh);
   }  
}
.label-style{
    @include child-style(10px,100%);
    @include par-style;
    margin-top: 15px;
    position: relative;
}

.input-style{
    @include child-style(5px 10px,95%,3px);
    margin-top: 10px;
    @include for-phone-only{
      @include child-style(5px 10px,80%,3px);
    }
    @include for-tablet-portrait-up {
      @include child-style(5px 10px,90%,3px);
    }  
    
}
#submit{
  @include child-style(8px 15px,auto,5px);
  border: none;  
  margin-left:10px;  
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.671); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:40%;
    border-radius: 5px ;
  }

  .close {
    &:hover{
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }  
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

#demo{
  position: absolute;
  top:70px;

}
#demo2{
  position: absolute;
  top:70px;

}
  




