@import "-library";

// .text-style{
//     @include textstyle(500px);
// }
.par-style{
   @include par-style;
}
.label-style{
    @include child-style(10px,100%);
    @include par-style;
}
.input-style{
    @include child-style(5px 10px,95%,3px);
    
}

.wraper{
    @include child-style(20px 20px,60%,10px);
    margin: 0 auto;
    margin-top:30px;
}
#submit{
    @include child-style(8px 15px,auto,5px);
    border: none;  
    margin-left:10px;  
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }





